library/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Editor settings
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# C extensions
*.so

# PyInstaller
*.manifest
*.spec

# mypy / type checker
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/

# Pylint
pylint-report.txt
pylint-output.txt

# Local development
*.local

# Json files
*.json


# any saves of date/imgs we make
*.gpkg
*.csv
*.nc
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.tif
*.tiff
*.png
*.jpg
*.jpeg
*.geojson

*.nc:Zone.Identifier

*.pyc


!notebook_templates/00_BASE_DATA/*.nc
ecmwf.ipynb
mars.ipynb
